html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: linear-gradient(180deg, #413f3f, rgb(156, 153, 153)); */
    background-image: url("https://raw.githubusercontent.com/WolfDev616/artist-portfolio/refs/heads/main/GreatTreeHDnoborder.jpg");
    background-size: cover;
}

a {
    color: grey;
}

.metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}
p, address {
    font-size: 1.62rem;
    font-style: normal;
}

h1 {
    font-size: 8rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
}

h2 {
    font-size: 4rem;
}
    
h3 {
    font-size: 2rem;}

* {
    font-family: "Metamorphous", serif;
}

/* Main */

main, footer {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 2rem 2rem;
    border-radius: 2rem;
}



/* Hero  */

.hero-display {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.hero-display .subtitulo-h1 {
    display: flex;
    justify-content: space-between;
    padding: 0px, 2rem;

}

.img-loboguara {
    width: 40rem;
}

.container-img-loboguara {
    background-color: white;
    border-radius: 50%;
    border: 5px;
    border-style: double;
}



/* Imagens */ 

.links-artes {
    display: flex;
    gap: 3.12rem;
}